[workspace]
members = [
    "my-http-server",
    "my-http-server-controllers",
    "my-http-server-core",
    "my-http-server-swagger",
    "my-http-server-web-sockets",
    "my-http-server-signal-r-middleware",
    "static-files-middleware",
    "signal-r-macros",
]
