
name: Test it

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Test Default build  
        run: |
          cargo build   
      - name: Test with-authorization 
        run: |
          cargo build --features static-files       
      - name: Test with-authorization 
        run: |
          cargo build --features my-telemetry             
      - name: Test Build      
        run: |
          cargo test
          